.footer {
    display: flex;
    justify-content: space-between;
    color: #aaaaaa;
    font-size: small;
    margin: 0.5em;
}

.footerItem {
    flex: 1;
}

.footerOne,
.footerThree {
    flex: initial;
    width: 300px;
}