.footer {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    color: #aaaaaa;
    font-size: small;
    margin: 0.5em;
    margin-top: auto;
}

.footerItem {
    flex: 1;
}

.footerOne,
.footerThree {
    flex: initial;
    /* width: 100px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2em;
}

.footerTwo {
    display: flex;
    justify-content: center;
    flex-direction: row;
}