.footer {
    display: flex;
    justify-content: space-between;
    color: #aaaaaa;
    font-size: small;
    margin: 0.9em 2em 0;
}

.footerItem {
    flex: 1;
}

.footerOne,
.footerThree {
    flex: initial;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2em;
}

.footerTwo {
    display: flex;
    justify-content: center;
    flex-direction: row;
}