.menuContainer {
    height: 100%;
    background-color: #333333;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 12em;
}

.menuContainer:hover {
    background-color: #5a5a5a;
}